<div class="login">
    <h3>
        Login
    </h3>
    <div>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Email" name="email" required>

        <label for="wachtwoord"><b>Wachtwoord</b></label>
        <input type="password" placeholder="Wachtwoord" name="wachtwoord" required>
        <button type="button">LOG IN</button>
    </div>
</div>
